@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700&display=swap');
body {
    font-family: 'Open Sans', sans-serif !important;
}
/* slider */
.carousel-item {
    text-align: center;
}
.slider_image {
    width: 100%;
    height: 400px;
    /* object-fit: cover; */
    object-position: center;
}
.nav-link:hover {
    color: red !important;
}
/* slider */
/* card */
.card_image {
    width: 100%;
    height: 350px;
}
/* card */
/* category */
.category_image {
    width: 100%;
    height: 200px;
}
/* category */
.card_de {
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
}